<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Coin Complex</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/form-elements.css">
        <link rel="stylesheet" href="assets/css/style.css">

        <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" rel="stylesheet">
        <!-- Latest compiled and minified CSS -->
        
        <link href="../css/style.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="apple-touch-icon" sizes="180x180" href="../images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
        <link rel="manifest" href="../images/site.webmanifest">
        <link rel="mask-icon" href="../images/safari-pinned-tab.svg" color="#5bbad5">

    </head>

    <body>
            <!-- Top content -->
            <div id="myNav" class="topnavbartransparent">

                <div id="bar_Content_ID" class="topbarcontentlarge">
                    <a href="index.html" class="Margin">
                    	<img  id="TopLogo" class="CCxLogoLarge" src="../images/logo.svg" width="125">
                    </a>
                </div>
            </div>
            <div id="FrontPage" class="Front-Page-Content">
                <div class="Back_Panel">
                	<div class="Top_Content_Padding">
                		<div class="Top_Content_Margin">
    		            	<div class="Top_Content_Inner">
    			                <div class="Inner_Container">	                
    			                    <div class="Logo_Container">
    			                    	<img class="Sub_Logo_Image" src="../images/CoinComplextest.svg" width="300" height="52.5"/>
    			                    </div>
                                    <p>&nbsp;</p>     
    			                    <div class="Description_Container">
    			                        Coin Complex is a Cryptocurrency Exchange designed to have the most powerful trading tools avaliable without sacrificing user experience. We offer lightning fast transaction times, along with portfolio tracking tools that aren't present on any other exchanges. 
    			                    </div>            
    			                </div>
    		            	</div>
    	            	</div>
                	</div>
                </div>
            </div>
        <div class="Max-Width-container">
        	<div class="Middle_Content_Padding">
			    <p>&nbsp;</p>        		
        		<div class="What_We_Offer">
        			FEATURES
        		</div>
			    <p>&nbsp;</p>
			    <div class="Middle_Content_Box">
                    <div class="Middle_Content_Box_Content">
                        <div class="Middle_Content_Box_Background">
                        	<div class="Middle_Content_Box_Text">
                        		More Data for Users
                        	</div>
                    		<img class="Three_Points_Image" src="../images/MoreData.svg" width="150" height="150">
                    		<p class="Three_Points_Description">
                    			Coin Complex Offers brand new portfolio management tools to help you stay on top of your trades.
                    		</p>
                        </div>
                    </div>
                    <div class="Middle_Content_Box_Content">
                    	<div class="Middle_Content_Box_Text">
                    		A Cleaner UI
                    	</div>
                        <img class="Three_Points_Image" src="../images/UI.svg" width="150" height="150">
                        <p class="Three_Points_Description">
                            We have designed a User Interface that is powerful, yet easy to navigate. Making it ideal for both beginner and expert traders.
                        </p>
                    </div>
                    <div class="Middle_Content_Box_Content">
                    	<div class="Middle_Content_Box_Text">
                    		Security
                    	</div>
                        <img class="Three_Points_Image_Lock" src="../images/Black_Lock.svg" width="150" height="125">
                        <p class="Three_Points_Description">
                            We take security very seriously, and so should you. Coin Complex is taking every measure possible to ensure our exchange can't be hacked. 
                        </p>
                    </div>
			    </div>
        	</div>
        </div>
        <div class="Full_Width_Container2">
	        <div class="Max-Width-container">
			    <p>&nbsp;</p>
	            <p>&nbsp;</p>
                <div class="CCX_Description_Border_Box">
    	            <div class="CCX_Description_Header_Padding">
    	            	<div class="CCX_Description_Header_Body">
    	            		<p class="CCX_Description_Header_Text">
    	            			WHAT WE'RE DEVELOPING
    	            		</p>
    	            	</div>
    	        	</div>
    	            <div class="Middle_Content_Padding">
    	                <div class="bodybox">
    	                    <p class="Coin_Complex_Description">
    							We are developing Coin Complex as an accessible, easy-to-use cryptocurrency exchange that would enable crypto-to-crypto transactions between market participants. The exchange is one-of-a-kind-offering accessibility to the retail investor, a streamlined user interface, and advanced portfolio management tools. Coin-Complex enables customers to make better decisions that lead to better investments.
    	                    </p>
    	                </div>
    	            </div>
                </div>
			    <p>&nbsp;</p>
	            <p>&nbsp;</p>
	        </div>
    	</div>

            <div class="Bottom_Content_Background">
            	<div class="Top_Content_Padding">
            		<div class="Top_Content_Margin">
		            	<div class="Top_Content_Inner">
			                <div class="Inner_Container">
			                    <p>&nbsp;</p>
			                    <p>&nbsp;</p>
			                    <p>&nbsp;</p>
			                    <p>&nbsp;</p>	
			                    <p>&nbsp;</p>
			                    <p>&nbsp;</p>
			                    <p>&nbsp;</p>
			                    <p>&nbsp;</p>	
                                <input ng-model="emailsignupobj.data" type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">	   
                                <button ng-click="submitEmail()" id = "ccbtn" class="btn">Join the queue!</button>             
			                    <p>&nbsp;</p>
			                    <p>&nbsp;</p>
			                    <p>&nbsp;</p>
			                    <p>&nbsp;</p>		                
			                    <p>&nbsp;</p>
			                    <p>&nbsp;</p>
			                    <p>&nbsp;</p>			                    
			                    <p>&nbsp;</p>
			                    <p>&nbsp;</p>               
			                </div>
		            	</div>
	            	</div>
            	</div>
            </div>

            <!-- Footer -->
            <footer class="Footer_Container">
                <div class="Footer_Container_Margin">
                	<div class="Footer_Container_Box1">
    	            	<div id="Email_Container" class="container">
    	                    <div class="form-box">

		                        <div class="Social_Link_Header">
		                        	<div class="Social_Link_Header_Text">
		                        		Mailing List
		                        	</div>
		                        </div>

    	                        <div class="form-top">
    	                            <div id="Form_Top_ID" class="form-top-left">
    	                                    <div class="signuptext">Fill out your email and we'll give you updates</div>
    	                            </div>
    	                            <div class="form-top-right">
    	                           		<i class="fa fa-pencil"></i>
    	                        	</div>
    	                    	</div>
    	                    <div id="Email_Form_Bottom_Padding" class="form-bottom" ng-app="ccapp">
    	                        <div class="form-group" ng-controller="EmailSignupController">
    	                            <label class="sr-only" for="form-email">Email</label>
    	                                <input ng-model="emailsignupobj.data" type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">
    	                                    <button ng-click="submitEmail()" id = "ccbtn" class="btn">Sign me up!</button>
    	                        </div>                       
    	                    </div>
    	                    <div class="form-group hidden" id="result-container">
    	                        <div class="alert alert-success text-goes-here">
    	                            Hello there!
    	                        </div>
    	                    </div>
    	                	</div>
    	                </div>
                	</div>
                                
                    <div class="Footer_Container_Box2">    
    	            	<div class="Footer_Logo_row"> 			
    	            		<div class="col-sm-8 col-sm-offset-2">
                                <img  id="BottomLogo" class="CCxLogoBottom" src="../images/logo.svg" width="60">
                                <br/>
                                <br/>
                                <img class="Sub_Logo_Image" src="../images/CoinComplextest.svg" width="150" height="24.75"/>
    	            			<p id='footerbottomtext'>Smarter Tools for Smarter Traders</p>
    	            		</div>	
    	            	</div>
    	            </div>

                	<div class="Footer_Container_Box3">
                		<div class="Box3_Inner_Container">
	                        <div class="Social_Link_Header">
	                        	<div class="Social_Link_Header_Text">
	                        		Social Media
	                        	</div>
	                        </div>
	                        <div class="Social_Media_Links">
		    	                <div class="Footer_Link_Container">
		    	                    <a href="https://www.w3schools.com" class="List_Link">
		    	                    	<img src="../images/facebook.svg" class="Social_Icon" width="30" height="30" />
		    	                    	Facebook
		    	                    </a>
		    	                </div>
		    	                <div class="Footer_Link_Container">
		    	                    <a href="https://www.w3schools.com" class="List_Link">
		    	                    	<img src="../images/linkedin.svg" class="Social_Icon" width="30" height="30" />
		    	                    	Linkedin
		    	                  	</a>
		    	                </div>
		    	                <div class="Footer_Link_Container">
		    	                    <a href="https://www.w3schools.com" class="List_Link">
		    	                    	<img src="../images/twitter.svg" class="Social_Icon" width="30" height="30" />
		    	                    	Twitter
		    	                  	</a>
		    	                </div>
		    	                <div class="Footer_Link_Container">
		    	                    <a href="https://www.w3schools.com" class="List_Link">
		    	                    	<img src="../images/instagram.svg" class="Social_Icon" width="30" height="30" />
		    	                    	Instagram
		    	                  	</a>
		    	                </div>
	    	                </div>
                    	</div>
                    </div>

                    <div class="Bottom_LLC_Outer">
                        <div class="Bottom_LLC_Middle">
                        <div class="Bottom_LLC">
                            <div class="Bottom_LLC_Text">
                        © 2018, COIN COMPLEX
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </footer>

            <!-- Javascript -->
            <script src="assets/js/jquery-1.11.1.min.js"></script>
            <script src="assets/bootstrap/js/bootstrap.min.js"></script>
            <script src="assets/js/scripts.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <script src="../js/js.js"></script>
            
        </div>
    </body>

</html>