body, .top-content, footer
{
	background: #0c0c0c;
	color: #e9ebeb;
	font-family: 'NexaLight';
}
ul {
	padding:0;
	list-style:none;
}
@font-face {
    font-family: NexaLight;
    src: url('../images/AvenirLTStd-Light.otf');
}
p {
	color: #e9ebeb;
	margin: 0 0 10px 0;
	display:block;
}
hr {
	width:70%;
	border-color:#30A1AD;
}
h1
{
	color: #e9ebeb;
}
footer {
	padding-bottom:0;
	background: #121517;
}
.inner-bg {

}
.Linkedin {
	background:url('../images/linkedin.svg');
	float:right;
	margin-right:auto;
	margin-left:auto;	
	width:30px;
	height:30px;
}
.Instagram {
	background:url('../images/instagram.svg');	
	margin-right:auto;
	margin-left:auto;
	width:30px;
	height:30px;
}
.FaceBook {
	background:url('../images/facebook.svg');
	margin-right:auto;
	margin-left:auto;
	width:30px;
	height:30px;
}
.Twitter {
	background:url('../images/twitter.svg');	
	margin-right:auto;
	margin-left:auto;
	width:30px;
	height:30px;
}
.NavBarLink {
	font-size:1em;
	font-family: 'NexaLight';
	margin-right:auto;
	margin-left:auto;
}
.logobox:after {
	content:"";
	display:block;
	padding-bottom:100%;
}
.topnavbar {
	max-width:1160px;
	width:100%;
	margin:0 auto;
	color:#e9ebeb;
	border-bottom: 1px solid #e9ebeb;
}
.topbarcontent {
	display:flex;
	align-items:center;
	margin:auto;
	width:50%;
	min-width:300px;
	padding:10px;
}
.Top_Content_Padding {
	width:100%;
	padding-right:15px;
	padding-left:15px;
}
.Top_Content_Margin {
	margin-left:15%;
	margin-right:15%;
}
.Max-Width-container {
	margin:0 auto;
	max-width:1160px;
	width:100%;
}
.CCxLogo {
	margin-left:auto;
	margin-right:auto;
	background:url('../images/logo.svg');
	background-size:cover;
	background-repeat:no-repeat;
	width:100px;
	height:100px;
}
.CCxSubText {
	background:url('../images/CoinComplextest.svg');
	background-size:cover;
	background-repeat:no-repeat;
	width:300px;
	height:50px;
}
.smartertools {
	margin-top:5%;
	height:auto;
	margin-bottom:5%;
	line-height:48px;
	text-align:center;
	font-size:48px;
	letter-spacing:.2em;
}
#newslettertop {
	font-size:4vw;
}
.form-group
{
	text-align: center;
}
.description {
	text-align:center;
	width:90%;
	margin-top:0;
}
.signuptext {
	color:#121517;
}
#ccbtn
{
	margin-top: 20px;
	background-color: #e9ebeb;
}
.bodybox {
	padding:1em;
	margin:auto;
	width:90%;
	background:#121517;
}
#ccsublogo {
	margin-top:1em;
	width:75%;
}
#ccmainlogo
{
	width: 25%;
}
#ccbtn {
	color: #121517;
}
.form-top
{
	background-color: white;
}
#footertop {
	margin-top:2em;
	margin-bottom:2em;
}
#footerbottombar {
	width:40%;
	border-top: 1px solid #e9ebeb;
}
#footerbottomtext {
	margin-bottom:2em;
	margin-top:2em;
}
.form-bottom
{
	background-color: #e9ebeb; 
}
