body, .top-content, footer
{
	background: black;
	color: #e9ebeb;
	font-family: 'NexaLight';
}
ul {
	padding:0;
	list-style:none;
}
@font-face {
    font-family: NexaLight;
    src: url('../images/AvenirLTStd-Light.otf');
}
p {
	color: #e9ebeb;
	margin: 0 0 10px 0;
	display:block;
}
hr {
	width:70%;
	border-color:#30A1AD;
}
h1
{
	color: #e9ebeb;
}
footer {
	padding-bottom:0;
	background: #121517;
}
video {
	position:absolute;
	z-index:-1;
	margin:0 auto;
	display:block;
	object-fit:cover;
	background:#0c0c0c;
}
video.fillWidth {
	min-width:300px;
	width:100%;
	max-width:1160px;
}
@media only screen and (min-width:1160px) {
	video {
		left:50%;
		margin-left:-580px;
	}
}
.Linkedin {
	background:url('../images/linkedin.svg');
	float:right;
	margin-right:auto;
	margin-left:auto;	
	width:30px;
	height:30px;
}
.Instagram {
	background:url('../images/instagram.svg');	
	margin-right:auto;
	margin-left:auto;
	width:30px;
	height:30px;
}
.FaceBook {
	background:url('../images/facebook.svg');
	margin-right:auto;
	margin-left:auto;
	width:30px;
	height:30px;
}
.Twitter {
	background:url('../images/twitter.svg');	
	margin-right:auto;
	margin-left:auto;
	width:30px;
	height:30px;
}
.NavBarLink {
	font-size:1em;
	font-family: 'NexaLight';
	color:#e9ebeb;
	transition:color .25s;
	-webkit-transition: color .25s;
}
.NavBarLink:hover {
	color:#30A1AD;
	transition:color .25s;
	-webkit-transition: color .25s;
}
.logobox:after {
	content:"";
	display:block;
	padding-bottom:100%;
}
.topnavbartransparent {
	position:fixed;
	z-index:100;
	background:rgba(0,0,0,0);
	width:100%;
	margin:0 auto;
	color:#e9ebeb;
	transition:background 0.5s;
}
.topnavbar {
	position:fixed;
	z-index:100;
	background:rgba(12,12,12,0.95);
	width:100%;
	margin:0 auto;
	color:#e9ebeb;
	transition:background 0.5s;
}
.topbarcontent {
	padding-top:10px !important;
	padding-bottom:10px !important;
	transition:padding 0.5s;
}
.topbarcontentlarge {
	display:flex;
	align-items:center;
	margin:auto;
	width:50%;
	max-width:400px;
	min-width:300px;
	padding-top:25px;
	padding-bottom:25px;
	transition:padding 0.5s;
}
.LinkContainer {
	width:70px;
}
.Max-Width-container {
	width:100%;
	max-width:1160px;
	min-width:300px;
	margin:0 auto;
}
.Top_Content_Background {
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}
.Top_Content_Padding {
	width:100%;
	max-width:1160px;
	margin:0 auto;
	padding:15px;
}
.What_We_Offer {
	font-size:2em;
	font-family: 'NexaLight';
}
.Top_Content_Margin {
	margin-left:18%;
	margin-right:18%;
}
.Middle_Content_Box {
	display:flex;

	width:100%;
}
.Middle_Content_Padding {
width:100%;
margin:0 auto;
 padding:20px;
}
.Max-Width-container {
	margin:0 auto;
	width:100%;
}
.Link_Container {
	width:70px;
}
.CCxLogo {
	margin-left:auto;
	margin-right:auto;
	background:url('../images/logo.svg');
	background-size:cover;
	background-repeat:no-repeat;
	width:75px;
	height:75px;
}
.CCxSubText {
	background:url('../images/CoinComplextest.svg');
	background-size:cover;
	background-repeat:no-repeat;
	width:300px;
	height:50px;
}
.smartertools {
	margin-top:5%;
	height:auto;
	margin-bottom:5%;
	line-height:48px;
	text-align:center;
	font-size:48px;
	letter-spacing:.2em;
}
#newslettertop {
	font-size:4vw;
}
.form-group
{
	text-align: center;
}
.description {
	text-align:center;
	width:90%;
	margin-top:0;
}
.signuptext {
	color:#121517;
}
#ccbtn
{
	margin-top: 20px;
	background-color: #e9ebeb;
}
.bodybox {
	padding:1em;
	margin:auto;
	width:90%;
	background:#121517;
}
#ccsublogo {
	margin-top:1em;
	width:75%;
}
#ccmainlogo
{
	width: 25%;
}
#ccbtn {
	color: #121517;
}
.form-top
{
	background-color: white;
}
#footertop {
	margin-top:2em;
	margin-bottom:2em;
}
#footerbottombar {
	width:40%;
	border-top: 1px solid #e9ebeb;
}
#footerbottomtext {
	margin-bottom:2em;
	margin-top:2em;
}
.form-bottom
{
	background-color: #e9ebeb; 
}
