body, .top-content, footer
{
	background:black;
	color: #e9ebeb;
	font-family: 'NexaLight';
}
body {
	background-image:url("../images/ManhattanBig.jpg");
	background-position:center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
@-webkit-keyframes fadein {
	from {
		opacity:0;				}
	to {
		opacity:1;	
	}
}
ul {
	padding:0;
	list-style:none;
}
@font-face {
    font-family: NexaLight;
    src: url('../images/AvenirLTStd-Light.otf');
}
p {
	color: #e9ebeb;
	margin: 0 0 10px 0;
	display:block;
}
footer a:hover, footer a:focus {
    border-bottom: none;
}
hr {
	width:70%;
	border-color:#30A1AD;
}
h1
{
	color: #e9ebeb;
}
a {
	outline:0;
	border:0;
	text-decoration:none;
}
a:hover, a:active, a:focus {
  /* styling for any way a link is about to be used */
  border:0;
	outline:0;
	text-decoration:none !important;
}

footer {
	padding-bottom:0;
	background: #0c0c0c;
}
.NavBarLink {
	font-size:1em;
	font-family: 'NexaLight';
	color:#e9ebeb;
	transition:color .25s;
	-webkit-transition: color .25s;
}
.NavBarLink:hover {
	color:#30A1AD;
	transition:color .25s;
	-webkit-transition: color .25s;
}
.logobox:after {
	content:"";
	display:block;
	padding-bottom:100%;
}
.topnavbartransparent {
	position:fixed;
	z-index:100;
	background:rgba(0,0,0,0);
	width:100%;
	margin:0 auto;
	color:#e9ebeb;
	transition:background 0.5s;
}
.topnavbar {
	position:fixed;
	z-index:100;
	background:linear-gradient(rgba(12,12,12,.95), rgba(0,0,0,.95));
	box-shadow:0 4px 2px -2px black;
	width:100%;
	margin:0 auto;
	color:#e9ebeb;
	border-bottom:1px solid #30a1ad;
	transition:background 0.5s;
}
.topbarcontent {
	padding-top:10px !important;
	padding-bottom:10px !important;
	transition:padding 0.5s;
}
.topbarcontentlarge {
	display:flex;
	align-items:center;
	margin:auto;
	width:50%;
	max-width:400px;
	min-width:300px;
	padding-top:35px;
	padding-bottom:35px;
	transition:padding 0.5s;
}
.LinkContainer {
	width:70px;
}
.container {
	width:100%;
}
.Max-Width-container {
	width:100%;
	max-width:1160px;
	min-width:300px;
	margin:0 auto;
	margin-bottom:30px;
	margin-top:30px;
}
.Max-Width-container-2 {
	width:100%;
	max-width:1160px;
	min-width:300px;
	margin:0 auto;
}

.Top_Content_Background {
	height:100%;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}
.Top_Content_Padding {
	width:100%;
	height:100%;
	max-width:1160px;
	display:flex;
	align-items:center;
	margin:0 auto;
	padding:15px;
}
#Queue_Numbers_Container_Padding {
	padding:10px;
	border:1px solid #e9ebeb;
	margin-bottom:50px;
	background: rgba(12,12,12,0.8)
}
.Margin {
	margin-left:auto;
	margin-right:auto;
}
.What_We_Offer {
	font-size:2em;
	letter-spacing:5px;
	font-family: 'NexaLight';
}
.Youre_Place_In_Queue {
	margin-top:10px;
	margin-bottom:10px;
	font-size:1.5em;
	text-align:center;
}
.Your_Referral_Code {
	margin-top:10px;
	margin-bottom:10px;
	font-size:1.5em;
	text-align:center;	
}
.Top_Content_Margin {
	width:64%;
	margin-left:18%;
	margin-right:18%;
}
.Bottom_Content_Margin {
	width:82%;
	margin-left:9%;
	margin-right:9%;
}
@media only screen and (max-width:380px) {
	.Bottom_Content_Margin {
		margin-left:auto;
		margin-right:auto;
	}
}
.Middle_Content_Box {
	display:flex;
	align-items:center;
	flex-wrap:wrap;
	width:100%;
}
.Middle_Content_Box_Background {
	height:100%;
}
.Front-Page-Content {
	width:100%;
	height:100vh;
	margin-bottom:60px;
	min-height:950px;
	position: relative;
	text-align:center;
}
.Three_Points_Image {
	margin-top:15px;
}
.Full_Width_Container_Border {
	height:35px;
	border-top:1px solid #282b2d;
	border-bottom:1px solid #282b2d;
}
.Three_Points_Image_Lock {
	margin-top:20px;
	margin-bottom:20px;
}
.Three_Points_Description {
	margin-top:15px;
	font-size:.75em;
	opacity:0.75;
	text-shadow:2px 2px 2px #000000;
}
.Back_Panel {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	margin-bottom:10px;
	height:100%;
	background:url("../images/Background1.svg");
	-webkit-animation: fadein 2s linear forwards;
	animation:fadein 2s linear forwards;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}
.Middle_Content_Box_Content {
	width:300px;
	height:500px;
	padding:15px;
	margin-top:10px;
	font-size:1.5em;
	letter-spacing:1px;
	background:transparent;
	margin-right:auto;
	margin-left:auto;
}
.Middle_Content_Padding {
width:100%;
margin:0 auto;
 padding:20px;
 opacity:0;
 animation-delay:1s;
 transition:opacity 2s;
}
.Middle_Content_Padding.in-view {
width:100%;
margin:0 auto;
 padding:20px;
 opacity:1;
 animation-delay:.5s;
 transition:opacity 2s;

}
#Form_Top_ID {
	padding-top:0px;
}

.Link_Container {
	width:100px;
	margin-left:5px;
	margin-right:5px;
	border:1px solid #30A1AD;
}
.Footer_Link_Container {
	float:left;
	width:100%;
	height:40px;
	margin-bottom:5px;
	margin-top:5px;
	padding-top:5px;
}
.CCX_Description_Border_Box {
	box-sizing:border-box;
	border-left:1px solid #e9ebeb;
	border-right:1px solid #e9ebeb;
}
.CCX_Description_Header_Text {
	text-align:left;
	margin-left:20px;
	font-size:1.75em;
	font-weight:bold;
	letter-spacing:2px;
}
.CCX_Description_Header_Padding {
	width:100%;
	padding:20px;
	margin:0 auto;
}
.CCX_Description_Header_Body {
	width:90%;
	margin:auto;
}
.CCxLogo {
	margin-left:auto;
	margin-right:auto;
	height:auto;
	width:75px !important;
}
.CCxLogo:hover {
    -webkit-filter: drop-shadow( 0px 0px 5px #30a1ad ); 
            filter: drop-shadow( -0px 0px 5px #30a1ad );
            transition:drop-shadow 0.5s linear forwards;
}
.Inner-Container {
	width:200px;
	margin:0 auto;
}
.CCxLogoLarge {
	margin-left:auto;
	margin-right:auto;
	height:auto;
	width:125px;
	transition:width 0.5s;
}
.CCxLogoBottom {
	margin-left:auto;
	margin-right:auto;
	height:auto;
}
.CCxLogoLarge:hover {
    -webkit-filter: drop-shadow( 0px -0px 5px #30a1ad ); 
            filter: drop-shadow( -0px -0px 5px #30a1ad );
            transition:drop-shadow 0.5s linear forwards;
}
.CCxSubText {
	background:url('../images/CoinComplextest.svg');
	background-size:cover;
	background-repeat:no-repeat;
	width:300px;
	height:50px;
}
#Email_Container {
	padding:0px;
	margin-right:auto;
	margin-left:auto;
}
.smartertools {
	margin-top:5%;
	height:auto;
	margin-bottom:5%;
	line-height:48px;
	text-align:center;
	font-size:48px;
	letter-spacing:.2em;
}
.Sub_Logo_Image {
	-webkit-filter: drop-shadow( 0px 0px 5px #000000 ); 
    filter: drop-shadow( -0px 0px 5px #000000);
}
.Full_Width_Container2 {
	width:100%;
	background:rgba(12,12,12,.9);
}
.Bottom_Content_Background {
	margin-top:50px;
	/*
	-webkit-box-shadow: 0px 10px 10px black inset;
	-moz-box-shadow: 0px 10px 10px black inset;
	box-shadow: 0px 10px 10px black inset;
	background:transparent;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	*/
}
.Coin_Complex_Description {
	padding-top:30px;
	font-size:1.25em;
	opacity:0.75;
	letter-spacing:1px;
	text-align:left;
}
#newslettertop {
	font-size:4vw;
}
.form-group
{
	text-align: center;
}
.description {
	text-align:center;
	width:90%;
	margin-top:0;
}
.signuptext {
	text-align:center;
	font-size:1em;
	color:#e9ebeb;
}
.bodybox {
	padding:20px;
	margin-bottom:50px;
	margin:auto;
	width:90%;
	background:transparent;
	border-top:1px solid #e9ebeb;
}
.Footer_Logo_row {
	width:100%;
	margin-left:auto;
	margin-right:auto;
}
.Footer_Container_Margin {
	margin-left:8%;
	margin-right:8%;
	display:flex;
	align-items:center;
	flex-wrap:wrap;
}
.Footer_Container_Box1 {
	order:1;
	min-width:280px;
	width:33%;
	height:375px;
	padding-left:15px;
	padding-right:15px;
	margin-left:auto;
	margin-right:auto;
	margin-top:70px;
}
.Footer_Container_Box2 {
	order:2;
	min-width:280px;
	width:33%;
	height:375px;
	display:flex;
	align-items:center;
	margin-left:auto;
	margin-right:auto;
}
.Footer_Container_Box3 {
	order:3;
	min-width:280px;
	width:33%;
	height:375px;
	padding-left:15px;
	padding-right:15px;
	margin-left:auto;
	margin-right:auto;
	margin-top:70px;
}
.Box3_Inner_Container {
	width:100%;
	height:321px;
}
#Queue_How_Many_People {
	width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
#How_Many_People {
	font-size:4em;
	line-height:1em;
	text-align:center;
	letter-spacing:2px;
	margin-left:auto;
	margin-right:auto;
}
@media only screen and (max-width:1000px) {
	.Footer_Container_Box1 {
		order:1;
	}
	.Footer_Container_Box2 {
		height:270px;
		order:3;
	}
	.Footer_Container_Box3 {
		order:2;
	}
}
@media only screen and (max-width:666px) {
	.Footer_Container_Box1 {	
		height:330px;
	}
	.Footer_Container_Box2 {
	}
	.Footer_Container_Box3 {
		height:330px;
	}
}
@media only screen and (max-width:1160px) {
	.CCX_Description_Border_Box {
		border:none;
	}
}
@media only screen and (max-width:659px) {
	#ccbtn_Queue {
		margin-top:10px;
	}
}
.Footer_Container_Box a {
	outline:0;
	color:#e9ebeb;
	text-decoration:none;
}
.Footer_Container_Box a:hover {
	outline:0;
	color:#e9ebeb;
	text-decoration:none;
}
.Footer_Container_Box_Flex {
	width:100%;
}
.List_Link {
	border:0;
	outline:0;
	color:#e9ebeb;
	text-decoration: none; /* no underline */
	font-size:1.2em;
	float:left;
}
.List_Link:hover {
	color:#e9ebeb;
	outline:0 !important;
	text-decoration:none !important;
}
.List_Link a {
	color:#e9ebeb;
	outline:0;
	text-decoration:none;
}
.Description_Container {
	font-size:1.25em;
	letter-spacing:1px;
	text-shadow: 2px 2px 2px #000000;
}
.form-top-left {
	width:100%;
}
#ccsublogo {
	margin-top:1em;
	width:75%;
}
#ccmainlogo
{
	width: 25%;
}
#ccbtn {
	margin-top:20px;
	background:none;
	border:1px solid #e9ebeb;
	border-radius:0px;
	color: #e9ebeb;
	transition:background 0.5s;
}
#ccbtn:hover {
	opacity:1;
	background:#30a1ad;
	transition:background 0.5s;
}
#ccbtn_Queue {
	display:inline-block;
	background:none;
	border:1px solid #e9ebeb;
	border-radius:0px;
	color: #e9ebeb;
	transition:background 0.5s;
}
#ccbtn_Queue:hover {
	opacity:1;
	background:#30a1ad;
	transition:background 0.5s;
}
.form-top
{
	padding-top:15px;
	background-color: transparent;
	border-radius:0px;
}
#footertop {
	margin-top:2em;
	margin-bottom:2em;
}

#imagebottombar {
	margin-top:1px;
	margin-bottom:1px;
	margin-left:0;
	margin-right:0;
	width:100%;
	border-top: 1px solid #30a1ad;
}
.Bottom_LLC_Outer {
	order:4;
	width:100%;
}
.Bottom_LLC_Middle {
}
.Bottom_LLC_Text {
	margin-top:20px;
	margin-bottom:20px;
	font-size:.75em;
	float:left;
}
.Bottom_LLC {
	padding-left:40px;
	padding-right:40px;
	width:100%;
	opacity:0.75;
	border-top:1px solid #e9ebeb;
}
#footerbottomtext {
	padding-top:20px;
	border-top:1px solid #e9ebeb;
	margin-bottom:20px;
	margin-top:20px;
	font-size:1em;
	opacity:0.75;
}
.Social_Icon {
	margin-right:5px;
}
.Social_Link_Header {
	width:100%;
	height:36px;
	margin:0 auto;
}
.Social_Link_Header_Text {
	width:100%;
	font-size:1.5em;
	float:left;
	padding-bottom:5px;
}
.Social_Media_Links {
	width:130px;
	height:250px;
	margin:0 auto;
	margin-top:10px;
}
.Footer_Container {
	border-top:1px solid #30a1ad;
}
.Middle_Content_Box_Text {
	width:100%;
	border:1px solid #30a1ad;
	padding:5px;
	background:#0c0c0c;
}
.Footer_Social_Container {
	width:100%;
}
.form-box {
	border-radius:0px;
	margin-top:0px;
}
.form-bottom
{
	background:transparent; 
	border-radius:0px;
}
#Queue_Content_Place_In_Queue {
	text-align:left;
	font-size:1.5em;
	letter-spacing:.1em;
	padding:5px;
	padding-left:10px;
	background:#0c0c0c;
	border:1px solid #30a1ad;
}
#Queue_Content_ReferalCode{
	text-align:left;
	font-size:1.5em;
	letter-spacing:.1em;
	padding:5px;
	padding-left:10px;
	background:#0c0c0c;
	border:1px solid #30a1ad;
}
.Queue_Content_Padding {
	padding:15px;
}
#Queue_Content_Right_Text {
	text-align:left;
	font-size:1.25em;
	letter-spacing:1px;
}
#Queue_Numbers_Container {
	width:100%;
	display:flex;
	align-items:center;
	flex-wrap:wrap;
}
#Queue_Numbers_Left {
	box-sizing:border-box;
	border-right:1px solid #e9ebeb;
	min-width:210px;
	margin-left:auto;
	margin-right:auto;
	width:50%;
}
#Queue_Numbers_Right {
	box-sizing:border-box;
	min-width:210px;
	margin-left:auto;
	margin-right:auto;
	width:50%;
}
#Queue_Referal_Code_Input {
	margin-top:15px;
	width:80%;
	border-radius:0px;
	display:inline-block;
	border:1px solid #e9ebeb;
	background:rgba(12,12,12,0.8);
}
#form-email {
	border-radius:0px;
	border:1px solid #e9ebeb;
	background:transparent;
}
#form-email-Queue {
	display:inline-block;
	width:70%;
	min-width:237px;
	color:#e9ebeb;
	max-width:600px;
	border-radius:0px;
	border:1px solid #e9ebeb;
	background:rgba(12,12,12,0.8);
}
#Social_Text_Container {
	width:100%;
	font-size:1em;
	text-align:center;
	margin-bottom:20px;
}
@media only screen and (max-width:615px) {
	#Queue_Numbers_Left {
		border-right:none;
	}
}
input {
	color:#e9ebeb;
}
